<!--div style="margin: 20% auto; width: 30%;">
  <div class="row">
    <div class="col-lg-6">
      Usuario
    </div>
    <div class="col-lg-6">
      <input type="text"  [(ngModel)]="usuario">
    </div>
  </div>
  <div class="row" style="margin-top: 5px">
    <div class="col-lg-6">
      Clave
    </div>
    <div class="col-lg-6">
      <input type="password" [(ngModel)]="clave">
    </div>
  </div>
  <div class="row" style="text-align: center; margin-top: 10px">
    <div class="col-lg-12">
      <button (click)="Entrar()" class="btn btn-info btn-lg" >Entrar</button>
    </div>
  </div>
</div-->
<!-- <div class="container" >
  <div class="jumbotron" style="padding:50px;">
    <form action="return true;">
      <div class="imgcontainer">
        <img src="./assets/imagenes/login.png" alt="Avatar" class="avatar" max-width="104" >
      </div>

      <div class="container">
        <label><b>Usuario</b></label>
        <input type="text" placeholder="Usuario"  [(ngModel)]="usuario"  name="uname" required>

        <label><b>Clave</b></label>
        <input type="password" placeholder="Clave"  [(ngModel)]="clave" name="psw" required>
            
        <button *ngIf="logeando"  (click)="MoverBarraDeProgreso()" >Ingresar</button>
       
        <div *ngIf="!logeando" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
              {{progresoMensaje}} - {{progreso}}%
            </div>
        </div>
       
        <input type="checkbox" checked="checked"> Recordar mis datos
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancelar</button>
        <button type="button" class="aceptbtn" routerLink="/Registro" >Registrarse</button>
        <span class="psw">Te olvidaste <a href="#">la clave?</a></span>
      </div>
     
    </form>
  </div>
</div> -->
<div class="login row m-5 animated fadeIn fast">

  <div class="col-12">
    
    <div class="row my-4">
      <div class="col-12 text-center">
        <img src="../../../assets/imagenes/logo.png" alt="">
      </div>
    </div>
    <div class="row mb-4">
      <div class="title col-12 text-center">
        <span>Bienvenido a la [Sala de Juegos]</span>
      </div>
    </div>
    <div class="row justify-content-center">
      <form class="col-6 row justify-content-center" (ngSubmit)="ingresar()"  [formGroup]="formLogin" novalidate="novalidate">
        <div class="col-12 form-group">
          <label class="title">Usuario:</label>
          <input formControlName="usuario" class="form-control" type="text" placeholder="Ingrese Usuario">
        </div>
        <div class="col-12 form-group">
          <label class="title">Contraseña:</label>
          <input formControlName="contrasena" class="form-control" type="password" placeholder="Ingrese Contraseña">
        </div>
        <div class="col-12 form-group mt-2">
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
        <div class="col-12">
          <p-messages [(value)]="msgs"></p-messages>
        </div>
      </form>
    </div>

  </div>

</div>