<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img width="30" height="30" src="assets/imagenes/logo.png" alt=""> [Sala de Juegos]
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Juegos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Velocidad y agilidad aritmética</a>
          <a class="dropdown-item" href="#">Piedra papel o tijeras</a>
          <a class="dropdown-item" href="#">Adivina el número secreto</a>
          <a class="dropdown-item" href="#">Piensa rapido</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mis Resultados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ranking Global</a>
      </li>
    </ul>
  </div>
  
  <div>
    <span class="mr-1 username" >Bienvenido {{this.login.usuario.user_name}} </span>
    <button (click)="login.logout()" class="mr-1 btn btn-outline-danger">Cerrar Sesión</button>
  </div>
</nav>